{% extends "base.html" %}
{% block title_1 %}dev's charts{% endblock %}
{% block title_2 %}网络状态历史{% endblock %}
{% block content %}
    <div class="container">
        {% for i in db_all %}
        <canvas id="{{ i.name }}" height="300" width="950"></canvas>
        <script>
            var data = {
                labels: {{ i.time | safe }},
                datasets: [{
                    label: "{{ i.address }}",
                    backgroundColor: "rgba(75,192,192,0.2)",
                    borderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "rgba(75,192,192,1)",
                    pointBorderColor: "#fff",
                    data: {{ i.delay }}
                }]
            };
            var options = {
                title: {
                    display: true,
                    text: "{{ i.name }}"
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: false,
                            labelString: "time"
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "delay(ms)"
                        }
                    }]
                }
            };
            var ctx = document.getElementById("{{ i.name }}").getContext('2d');
            var myLineChart = new Chart(ctx, {type: 'line', data: data, options: options});
        </script>
        {% endfor %}
        <div align="center"><button onClick="document.location.reload()">刷新</button></div>
        <br />
        <br />
        <br />
    </div>
{% endblock %}
