<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>dev's status</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light bg-white">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand">监控系统</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link text-info font-weight-bold">网络状态</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/svr/">应用状态</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logs/">日志</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/info/">服务器状态</a>
                    </li>
                </ul>
                <span class="navbar-text">版本{{ ver }}</span>
            </div>
        </nav>
    </div>
    <h3 style="text-align: center" class="text-info">网络状态</h3>
    <br />
    <div class="container">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr class="bg-info text-white">
                    <th>设备名</th>
                    <th>ip地址</th>
                    <th>状态</th>
                    <th>延迟</th>
                    <th>报警阈值</th>
                </tr>
            </thead>
            <tbody>
                {% for i in db_all %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.address }}</td>
                    <td>{{ i.status | replace("Normal","<font color='green'>Normal</font>") | replace("Error","<font color='red'>Error</font>") | safe }}</td>
                    <td>{{ "%s %s" | format(i.delay, "ms") | replace("timeout ms","timeout") }}</td>
                    <td>{{ "%s %s" | format(i.setdelay, "ms") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        <div class="col-sm-3">
            <form role="form" name='myform' action='/dev/' method='GET'>
                修改报警阈值：<br />
                <div class="input-group mb-3 input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">设备名</span>
                    </div>
                    <input id='dev_name' type='text' name='dev_name' class="form-control" placeholder="仅限现有名称">
                </div>
                <div class="input-group mb-3 input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">新的阈值</span>
                    </div>
                    <input id='new_setdelay' type='text' name='new_setdelay' class="form-control" placeholder="仅限数字, 0为无限制">
                </div>
                <input class="btn btn-sm" type='submit' value='确认'>
                <input class="btn btn-sm" type='reset' value='重填'>
            </form>
        </div>
        <br />
        <div align="center"><a href="/charts/" class="btn btn-secondary" role="button">设备历史记录</a>
        </div>
        <br />
        <div align="center"><button onClick="document.location.reload()">刷新</button></div>
        <br />
        <br />
        <br />
</body>

</html>
