<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>server's status</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light bg-white">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand">监控系统</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/dev/">网络状态</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/svr/">应用状态</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logs/">日志</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-info font-weight-bold">服务器状态</a>
                    </li>
                </ul>
                <span class="navbar-text">版本{{ ver }}</span>
            </div>
        </nav>
    </div>
    <h3 style="text-align: center" class="text-info">服务器状态</h3>
    <br />
    <div class="container">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr class="bg-info text-white">
                    <th>设备名</th>
                    <th>地址</th>
                    <th>CPU负载</th>
                    <th>内存使用率</th>
                    <th>硬盘使用率</th>
                </tr>
            </thead>
            <tbody>
                {% for i in db_all %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.address }}</td>
                    <td>{{ i.cpu }}</td>
                    <td>{{ "%s%s" | format(i.mem, "%") | replace("timeout%","timeout") }}</td>
                    <td>{{ "%s%s" | format(i.disk, "%") | replace("timeout%","timeout") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        <div align="center"><a href="/info/?info_check=run" class="btn btn-secondary"
                role="button">进行巡检</a></div>
        <br />
        <div align="center"><button onClick="document.location.reload()">刷新</button></div>
        <br />
        <br />
        <br />
</body>

</html>