{% extends "base.html" %}
{% block title_1 %}server's status{% endblock %}
{% block title_2 %}服务器状态{% endblock %}
{% block content %}
    <div class="container">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr class="bg-info text-white">
                    <th>设备名</th>
                    <th>地址</th>
                    <th>CPU负载</th>
                    <th>内存使用率</th>
                    <th>硬盘使用率</th>
                </tr>
            </thead>
            <tbody>
                {% for i in db_all %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.address }}</td>
                    <td>{{ i.cpu }}</td>
                    <td>{{ "%s%s" | format(i.mem, "%") | replace("timeout%","timeout") }}</td>
                    <td>{{ "%s%s" | format(i.disk, "%") | replace("timeout%","timeout") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        <div align="center"><a href="/info/?info_check=run" class="btn btn-secondary"
                role="button">进行巡检</a></div>
        <br />
        <div align="center"><button onClick="document.location.reload()">刷新</button></div>
        <br />
        <br />
        <br />
    </div>
{% endblock %}
