{% extends "base.html" %}
{% block title_1 %}Logs{% endblock %}
{% block title_2 %}日志{% endblock %}
{% block content %}
    <div class="container">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr class="bg-info text-white">
                    <th>日期</th>
                    <th>时间</th>
                    <th>内容</th>
                </tr>
            </thead>
            <tbody>
                {% for i in db_all %}
                <tr>
                    <td>{{ i.date }}</td>
                    <td>{{ i.time }}</td>
                    <td>{{ i.content }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        <ul class="pagination">
            {% for i in pages %}
            {% if i == page_num %}
            <li class="page-item active"><a class="page-link bg-info border-info" href="/logs/{{ i }}">{{ i }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link text-info" href="/logs/{{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <div align="center"><button onClick="document.location.reload()">刷新</button></div>
        <br />
        <br />
        <br />
    </div>
{% endblock %}
